/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/admin
/public/site
/public/login
/public/register
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
